In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report,confusion_matrix
from sklearn import metrics

In [ ]:
df=pd.read_csv('/content/data.csv')
df

,name,gives_birth,aquatic_animal,aerial_animal,has_legs,class_label
0,human,1,0,0,1,mammal
1,python,0,0,0,0,reptile
2,salmon,0,1,0,0,fish
3,frog,0,2,0,1,ampbibian
4,bat,1,0,1,1,bird
5,pigeon,0,0,1,1,bird
6,cat,1,0,0,1,mammal
7,shark,1,1,0,0,fish
8,turtle,0,2,0,1,amphibian
9,salamander,0,2,0,1,amphibian

In [ ]:
x=df[['gives_birth','aquatic_animal','aerial_animal','has_legs']]
y=df[['class_label']]

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.1)
print(x_test)
print(y_test)

   gives_birth  aquatic_animal  aerial_animal  has_legs
2            0               1              0         0
  class_label
2        fish

In [ ]:
gn=GaussianNB()
gn.fit(x_train,y_train.values.ravel())
y_pred=gn.predict(x_test)
print(y_pred)

['fish']

In [ ]:
print(metrics.accuracy_score(y_test,y_pred))

1.0

In [ ]:
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[1]]
              precision    recall  f1-score   support

      mammal       1.00      1.00      1.00         1

    accuracy                           1.00         1
   macro avg       1.00      1.00      1.00         1
weighted avg       1.00      1.00      1.00         1

In [ ]:
print(gn.predict(x_train))
print(y_train.values.ravel())

['bird' 'fish' 'fish' 'amphibian' 'mammal' 'amphibian' 'amphibian' 'bird'
 'reptile']
['bird' 'fish' 'fish' 'amphibian' 'mammal' 'ampbibian' 'amphibian' 'bird'
 'reptile']