In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
df=pd.read_csv('/content/Salaries.csv')

FileNotFoundError: ignored

In [4]:
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [5]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [ ]:
df['BasePay'].mean()

66325.44884050643

In [ ]:
df['OvertimePay'].max()

245131.88

In [ ]:
q=df[df['EmployeeName']=="JOSEPH DRISCOLL"]

In [ ]:
q['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [ ]:
q['JobTitle'],q['Year']

(24    CAPTAIN, FIRE SUPPRESSION
 Name: JobTitle, dtype: object, 24    2011
 Name: Year, dtype: int64)

In [ ]:
w=df['TotalPayBenefits'].max()

In [ ]:
  df[df['TotalPayBenefits']==w]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [ ]:
r=df['TotalPayBenefits'].min()

In [ ]:
df[df['TotalPayBenefits']==r]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [ ]:
df.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [ ]:
df['JobTitle'].nunique()

2159

In [ ]:
df['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [ ]:
df['JobTitle'].value_counts()

Transit Operator                                    7036
Special Nurse                                       4389
Registered Nurse                                    3736
Public Svc Aide-Public Works                        2518
Police Officer 3                                    2421
                                                    ...
Special Assistant 8                                    1
SENIOR MEDICAL TRANSCRIBER TYPIST                      1
SHADE AND DRAPERY WORKER                               1
ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION       1
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS          1
Name: JobTitle, Length: 2159, dtype: int64

In [ ]:
df['JobTitle'].value_counts(5)

Transit Operator                                    0.047331
Special Nurse                                       0.029525
Registered Nurse                                    0.025132
Public Svc Aide-Public Works                        0.016939
Police Officer 3                                    0.016286
                                                      ...
Special Assistant 8                                 0.000007
SENIOR MEDICAL TRANSCRIBER TYPIST                   0.000007
SHADE AND DRAPERY WORKER                            0.000007
ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION    0.000007
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS       0.000007
Name: JobTitle, Length: 2159, dtype: float64